<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <!-- head -->
  <head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
  </head>
  <body>
    <!-- header -->
    <div>
      <th:block th:replace="fragments/header :: headerFragment('header')"></th:block>
    </div>

    <div>
      <a th:href="@{/board}">게시판</a>
    </div>

    <!-- footer -->
    <div>
      <th:block th:replace="fragments/footer :: footerFragment('footer')"></th:block>
    </div>
  </body>
</html>